html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  font-size: 100%;
}

h1, h2, h3, .h1, .h2, .h3 {
  text-rendering: optimizeLegibility;
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

a {

  &:hover {

  }
}

img {
  max-width: 100%;
}